<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Run Test Nopcomerce">

    <test name="Run on Chrome">
        <classes>

            <class name="com.nopcomerce.user.User_01_Lv4_POM" />
        </classes>
    </test>

</suite> <!-- Suite -->